@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student
<div class="container">
<br>
<h4>Enroll a New Student</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Enrolled)
  @Html.TextBoxFor(model => model.Enrolled)

  <input type="submit" value="Enroll New Student" class="btn btn-default" />
}
<br>
<p>@Html.ActionLink("Show All Students", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>