@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department;
<div class="container">
<br>
<h2>Department Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.DepartmentName): @Html.DisplayFor(model => model.DepartmentName)</h3>
<br>
@if(@Model.Courses.Count == 0)
{
  <p>This Department does not currently offer any courses</p>
}
else
{
  <h4>Courses this department offers:</h4>
  <ul>
  @foreach(var join in Model.Courses)
  {
    <li>@join.Course.Name</li>
      @using (Html.BeginForm("DeleteCourse", "Departments"))
      {
        @Html.Hidden("joinId", @join.CourseDepartmentStudentId)
        <input type="submit" value="Delete" />
      }
  }
  </ul>
}

<br>
<p>@Html.ActionLink("Edit Department", "Edit", new { id = Model.DepartmentId })</p>
<p>@Html.ActionLink("Delete Department", "Delete", new { id = Model.DepartmentId })</p>
<p>@Html.ActionLink("Back to Departments", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>