@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department
<div class="container">
<br>
<h2>Edit</h2>

<h4>Edit this Department: @Html.DisplayFor(model => model.DepartmentName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DepartmentId)

  @Html.LabelFor(model => model.DepartmentName)
  @Html.EditorFor(model => model.DepartmentName)


  <input type="submit" value="Save" />
}
<br>
<p>@Html.ActionLink("Back to Departments", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
